<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
    <head>
        <title>IRT BOM</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="/css/irt.css" >
<style type="text/css"> .table_head{ cursor: pointer; } </style>
</head>
    <body>
<!--/* HEADER will be replaced */-->
	<header th:replace="login::header">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="http://irttechnologies:8080/irt/">IRT Technologies</a>
			<a class="navbar-brand" href="http://irttechnologies:8080/irt/">IRT Technologies</a>
			<button class="navbar-toggler" aria-expanded="false" aria-controls="navbarCollapse" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarCollapse">
         		 <span class="navbar-toggler-icon"></span>
       		</button>
      	<div class="collapse navbar-collapse" id="navbarMainMenu">
          	<ul class="navbar-nav mr-auto">
          		<li class="nav-item">
    				<a class="nav-link active" href="#">BOM</a>
  				</li>
          	</ul>
			<form class="form-inline mt-2 mt-md-0" action="/login" method="POST" >
				<input class="form-control mr-sm-2" type="text" placeholder="Username" autofocus="autofocus" />
				<input class="form-control mr-sm-2" type="password" placeholder="Password" />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
			</form>
		</div>
	</nav>
	</header>
<!--/* END HEADER will be replaced */-->

	<div class="container-fluid bg-white">

		<div class="row pt-3 mt-5">
			<div id="bomSidebar" class="col-md-2 bg-secondary rounded">
				<div class="row p-2">
					<input id="pn_input" type="text"
						class="form-control w-100 font-weight-bold"
						placeholder=" IRT Part Number"
						th:value="${#authorization.expression('isAuthenticated()')} ? ${desiredPN} : 'You must be logged in'" />
				</div>
				<form>
				<div class="row p-2">
					<select id="pns_out" name="pns_out" class="form-control w-100"
						multiple="multiple" size="15" style="overflow-y: auto;">
						<option class="font-weight-bold text-secondary"
							sec:authorize="isAuthenticated()" th:each="pn : ${partNumbers}"
							th:value="${pn.id}" th:text="${pn.partNumber}">Part
							Number</option>
					</select>
				</div>
				<input id="selected_bom_component" type="hidden">
				<div id="bom_action" class="container-fluid d-none mt-3" sec:authorize="hasAuthority('ADMIN') or hasAuthority('EDIT_BOM')">
					<a id="add_component" class="btn btn-outline-dark form-control mb-2 bom_action" href="#">Add</a>
					<a id="replace_component" class="btn btn-outline-dark form-control mb-2 bom_action" href="#">Replace</a>
					<a id="delete_component" class="btn btn-outline-dark form-control mb-2 bom_action" href="#">Delete</a>
					<a id="edit_references" class="btn btn-outline-info form-control mb-2 bom_action" href="#">Edit Ref.</a>
					<a id="delete_bom" class="btn btn-outline-secondary form-control mb-2 bom_action" href="#" >Delete BOM</a>
				</div>
				</form>
			</div>
			<div id="bomDetails" class="col-md-10"></div>
		</div>
	</div>
	<div id="stockBtns" class="col-md-2 fixed-bottom">
		<button id="whereUsed" type="button" class="btn btn-outline-light form-control mb-2" disabled>Where used?</button>
		<button id="toCoMfrBtn" type="button" class="btn btn-outline-warning form-control mb-2" sec:authorize="hasAuthority('ADMIN') or hasAuthority('STOCK')" disabled>TO CO MFR</button>
	</div>
	<div id="modal"></div>
<th:block th:replace="home::bootstrap_script">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</th:block>
<script sec:authorize="isAuthenticated()" src="../static/js/bom.js" th:src="@{/js/bom.js}" type="text/javascript"></script>
<script type="text/javascript">
	$('#bomMenu').addClass('active');
	//# sourceURL=bom-inline.js
</script>
    </body>
</html>