/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.ajax-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/imagies/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .ajax-loader {
    overflow: hidden;   

/* Anytime the body has the loading class, our
   modal element will be visible */
    display: block;
}

select > option:hover{
	 background-color: #ffff80;
    background-image: none;
	
}
/* placeholder */
.form-control::placeholder { color: MistyRose; opacity:1; } /* Chrome, Firefox */
:-ms-input-placeholder.form-control { color: MistyRose; opacity:1; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: MistyRose; opacity:1; } /* Microsoft Edge */

/* .form-control::-moz-placeholder { color: MistyRose; opacity:1; }  */
/* ::-webkit-input-placeholder.form-control { color: MistyRose; opacity:1; }  WebKit, Blink, Edge */
/* :-moz-placeholder.form-control { color: MistyRose; opacity:1; }  Mozilla Firefox 4 to 18 */
/* ::-moz-placeholder.form-control { color: MistyRose; opacity:1; }  Mozilla Firefox 19+ */

.btn:not(.disabled) {cursor: pointer;}
