<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<title>ECR</title>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:replace="home::links">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</th:block>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}">
<link rel="stylesheet" href="../../../static/css/irt.css" th:href="@{/css/irt.css}">
<script src="../../../static/js/irt_main.js" type="text/javascript" th:remove="ALL"></script>
<script type="text/javascript" th:remove="ALL">
	//This script use only for tect
	function autocompletePNs(input) {
		if (input) {
			return [ {
				id : 1,
				partNumber : "ACA000002R01",
				description : "Description #1"
			}, {
				id : 2,
				partNumber : "ACA000091R01",
				description : "Description #2"
			}, {
				id : 3,
				partNumber : "ACB000012R01",
				description : "Description #3"
			}, {
				id : 4,
				partNumber : "ACO000031R02",
				description : "Description #4"
			}, {
				id : 5,
				partNumber : "AEN000043R01",
				description : "Description #5"
			}, {
				id : 6,
				partNumber : "APS0005301R01",
				description : "Description #6"
			}, {
				id : 7,
				partNumber : "AWG000301R01",
				description : "Description #7"
			}, {
				id : 8,
				partNumber : "MBR0059IC01R01",
				description : "Description #8"
			}, {
				id : 9,
				partNumber : "MBR0313CW01R01",
				description : "Description #9"
			}, {
				id : 10,
				partNumber : "MBR0433CW01R01",
				description : "Description #10"
			}, {
				id : 11,
				partNumber : "MBR0670CW01R02",
				description : "Description #11"
			}, {
				id : 12,
				partNumber : "MBR0757CW01R01",
				description : "Description #12"
			}, {
				id : 13,
				partNumber : "MBR0864IC01R03",
				description : "Description #13"
			}, {
				id : 14,
				partNumber : "MBR0918IC01R01",
				description : "Description #14"
			}, {
				id : 15,
				partNumber : "MBR1034IC01R02",
				description : "Description #15"
			}, {
				id : 16,
				partNumber : "MCA0032PS01R02",
				description : "Description #16"
			}, {
				id : 17,
				partNumber : "MCA1113PN01R01",
				description : "Description #17"
			}, {
				id : 18,
				partNumber : "MCV0082IC01R01",
				description : "Description #18"
			}, {
				id : 19,
				partNumber : "PCA00258HPS00R01",
				description : "Description #19"
			}, {
				id : 20,
				partNumber : "PCA0057RGINPTR01",
				description : "Description #20"
			}, {
				id : 21,
				partNumber : "PCB00018HGEN0R01",
				description : "Description #21"
			}, {
				id : 22,
				partNumber : "PCB00208HMP00R01",
				description : "Description #22"
			}, {
				id : 23,
				partNumber : "PCB00478HPS00R02",
				description : "Description #23"
			}, {
				id : 24,
				partNumber : "PCB00688HPS00R01",
				description : "Description #23"
			}, {
				id : 25,
				partNumber : "PCB0088RGGEN0R01",
				description : "Description #25"
			}, {
				id : 26,
				partNumber : "PGB0009RGINPTR01",
				description : "Description #26"
			} ].filter(function(value) {
				return value.partNumber.indexOf(input) > -1;
			});
		} else
			return null;
	}
	//# sourceURL=new-eco-only-for-test.js
</script>
<!-- <style type="text/css"> html,body { height:100%; margin:0; } </style> -->
</head>
<body th:with="prepend='ecr'">

	<!--/* HEADER will be replaced */-->
	<header th:replace="login::header">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="http://irttechnologies:8080/irt/">IRT
				Technologies</a> <a class="navbar-brand"
				href="http://irttechnologies:8080/irt/">IRT Technologies</a>
			<button class="navbar-toggler" aria-expanded="false"
				aria-controls="navbarCollapse" aria-label="Toggle navigation"
				type="button" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link active" href="#">BOM</a>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0" action="/login" method="POST" enctype="multipart/form-data">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Username" autofocus="autofocus" /> <input
						class="form-control mr-sm-2" type="password"
						placeholder="Password" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
				</form>
			</div>
		</nav>
	</header>
	<!--/* END HEADER will be replaced */-->

	<div class="container-fluid bg-white pt-5" id="content">
		<div class="card">
			<h5 class="card-header text-center">Engineering change request (ECR).</h5>
			<div class="card-body">
				<form
						id="ecr_form"
						method="post"
						action="/engineering/ecr/request"
						onsubmit="f_submit(event, this)"

						th:id="${pepend} + '_form'"
						th:with="labelText='Reason for Request:'">

					<div class="row part_number_row" th:fragment="related( partNumber )">
						<input
								type="hidden"
								class="component_id required"
								name="component_id"

								th:value="${partNumber}==null ? '' : ${partNumber.id}" />

						<div class="col-md-auto">
							<div class="input-group">
								<div class="input-group-prepend" title="Top Component's Irt Part Number">
									<span class="input-group-text" >P/N:</span>
								</div>
								<input
										type="text"
										class="form-control part_number controlled_text"
										placeholder="IRT Part Number"
										aria-label="IRT Part Number"
										onchange="f_onPartNumberChange(this)"

										th:value="${partNumber}==null ? '' : ${partNumber.partNumber}"
										 />
								<div class="input-group-append">
									<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#" onclick="f_addProject(this);" >Add Related Project</a>
										<div role="separator" class="dropdown-divider"></div>
										<a class="dropdown-item" href="#" onclick="f_removeProject(this)" >Remove</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md">
							<p class="card-text component_description bg-info text-white text-center" th:text="${partNumber}==null ? 'Enter the part number of the project this request relates to.' : ${partNumber.description}">Enter the part number of the project this request relates to.</p>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-sm-auto font-weight-bold">Category of change:</div>
						<div class="col-md btn-group btn-group-toggle" id="ecr_categories_row" th:id="${prepend} + '_categories_row'" data-toggle="buttons" th:remove="all-but-first" th:fragment="categories( engineeringChange )">

							<label
									for="ecr_category_mechanical_design"
									th:for="${ecoCategory.name()}"
									class="btn btn-outline-primary btn-sm"

									th:each="ecoCategory : ${T(irt.stock.data.jpa.beans.engineering.ecr.EcrCategory.Category).values()}"
									th:with="isCategory= ${ engineeringChange }!=null ? ${engineeringChange.containsCategory( ecoCategory )} : false"
									th:classappend="${isCategory} ? 'active'"
									th:inline="text" >
								<input
										type="checkbox"
										class="form-check-input required_at_least_one"
										name="category"
										title="Mechanical Design"
										autocomplete="off"
										value="1"
										onchange="f_addFileRelation(this);"

										th:value="${ecoCategory.ordinal()}"
										th:title="${ecoCategory.description}"
										th:checked="${isCategory}" /><!--/*-->Mechanical Design<!--*/--><!--/*/[[${ecoCategory.description}]]/*/--></label>

							<label class="btn btn-outline-primary" for="ecr_category_electrical_design">
								<input class="form-check-input ecr_category required_at_least_one" type="checkbox" name='ecr_category' id="ecr_category_electrical_design" autocomplete="off" value="2" title="Electrical Design" onchange="f_addFileRelation(this)" />
								Electrical Design
							</label>

							<label class="btn btn-outline-primary" for="ecr_category_pcb_design">
								<input class="form-check-input ecr_category required_at_least_one" type="checkbox" name='ecr_category' id="ecr_category_pcb_design" value="4" title="PCB Design" onchange="f_addFileRelation(this)" />
								PCB Design
							</label>

							<label class="btn btn-outline-primary" for="ecr_category_software_design">
								<input class="form-check-input ecr_category required_at_least_one" type="checkbox" name='ecr_category' id="ecr_category_software_design" value="8" title="Software Design" onchange="f_addFileRelation(this)" />
								Software Design
							</label>

							<label class="btn btn-outline-primary" for="ecr_category_bom">
								<input class="form-check-input ecr_category required_at_least_one" type="checkbox" name='ecr_category' id="ecr_category_bom" value="16" title="BOM" onchange="f_addFileRelation(this)" />
								BOM
							</label>

							<label class="btn btn-outline-primary" for="ecr_category_rework">
								<input class="form-check-input ecr_category required_at_least_one" type="checkbox" name='ecr_category' id="ecr_category_rework" value="32" title="Rework" onchange="f_addFileRelation(this" />
								Rework
							</label>
						</div>
					</div>

<th:block th:fragment="textAndFile(prepend, labelText)">

<!-- Reason for Change -->
					<div 	class="row form-group mt-3"
							th:with="textAreaName = ${prepend} + '_text_area'" >
						<label
								for="ecr_text_area"
								class="font-weight-bold"

								th:for="${textAreaName}"
								th:text="${labelText}">
							Reason for Request:
						</label>
						<textarea
								class="form-control controlled_text required"
								id="ecr_text_area"
								name="text_area"
								oninput="f_enableButtons(this)"

								th:id="${textAreaName}" ></textarea>
					</div>
<!-- File upload -->
					<div class="file_upload_row row mb-3" >

						<div class="input-group ecr_file_upload_row" th:fragment="file_upload" >
							<div class="input-group-prepend">
								<select class="input-group-text btn btn-outline-secondary file_upload_category"
								name="file_category"
								onchange="f_addRequiredClass(this, 'file_upload')"  >

									<option selected value="">Select</option>
<!--/*/								<option th:if="*{categories}"
											th:each="category : *{categories}"
											th:with="ecoCategory = ${category.id.category}"
											th:value="${ecoCategory.ordinal()}"
											th:text="${ecoCategory.toString()}">
											Category Name
									</option>/*/-->
								</select>
							</div>
							<div class="custom-file" th:with="fileUploadID = ${prepend} + '_file_upload'">
								<input
										type="file"
										class="custom-file-input file_upload"
										id="ecr_file_upload"
										name="file_upload"
										aria-describedby="ecr_file_category"
										onchange="f_addRequiredClass(this, 'file_upload_category'); f_checkFiles(this);"

										th:id="${fileUploadID}" />
								<label
										class="custom-file-label btn btn-outline-secondary"
										for="ecr_file_upload"

										th:for="${fileUploadID}">Choose file</label>
							</div>
							<div class="input-group-append">
								<button
										type="button"
										class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a
											class="dropdown-item"
											href="#"
											onclick="f_addFileRow(this)" >Add</a>
									<div role="separator" class="dropdown-divider"></div>
									<a
											class="dropdown-item"
											href="#"
											onclick="f_removeFileRow(this)" >Remove</a>
								</div>
							</div>
						</div>
					</div>
</th:block>
					<div class="row mt-3">
						<button
								id="btn_send"
								type="submit"
								class="form-control btn btn-outline-success disabled to_enable"
								disabled="disabled">
							Send Request
						</button>
					</div>
				</form>
			</div>
		</div>
<button class="btn btn-outline-secondary dropdown-toggle form-control" type="button" id="showECRs" data-toggle="collapse" data-target="#ECRs" aria-controls="ECRs" aria-expanded="false"></button>
<div id="ECRs" class="collapse" >
		<div class="row">

<!-- Filter by ECR Status -->
		<div id="ecr_filter" class="btn-group btn-group-toggle input-group" data-toggle="buttons">
			<label class="btn btn-outline-info" th:each="ecrStatus : ${T(irt.stock.data.jpa.beans.engineering.ecr.EcrStatus.Status).values()}" th:inline="text">
				<input
						type="checkbox"
						name="ecr_status"
						id="ecr_status"
						autocomplete="off"

						th:id="${ecrStatus.name()}"
						th:value="${ecrStatus.ordinal()}" /><!--/*/[[${ecrStatus.toString()}]]/*/--><!--/*--> Created<!--*/--></label>
		</div>
		</div>

<!-- accordion -->
		<div class="accordion" id="ecr_accordion" th:remove="body">

<!-- th:fragment="ecr_card" -->
			<div class="card border-dark mt-10"  >
<!-- Card header -->
    			<div class="card-header" id="card_header" >
      				<h6 class="mb-0">
        				<button class="btn btn-link collapsed"
        						type="button"
        						data-toggle="collapse"
        						data-target="#collapseTwo" aria-controls="collapseTwo"
        						aria-expanded="false" >
        						ECR #3434 of September 12, 2000 by OP
        				</button>
        				Reason of this ECR
      				</h6>
    			</div>
<!-- Card Body -->
    			<div id="collapseTwo" class="collapse" aria-labelledby="card_header" data-parent="#ecr_accordion" >
				<div class="card-body" id="ecr_card_body">
<!-- Categories -->
					<div class="col-md btn-group btn-group-toggle" data-toggle="buttons">

						<label class="btn btn-outline-primary btn-sm" for="ecr_category_mechanical_design"  >
							<input class="form-check-input"
									type="checkbox"
									name='ecr_category'
									autocomplete="off"
									id="ecr_category_mechanical_design"
									value="1"
									title="Mechanical Design" />
							Mechanical Design 
						</label>

						<label class="btn btn-outline-primary" for="ecr_category_electrical_design">
							<input class="form-check-input" type="checkbox" name='ecr_category' id="ecr_category_electrical_design" autocomplete="off" value="2" title="Electrical Design" />
							Electrical Design
						</label>

						<label class="btn btn-outline-primary active" for="ecr_category_pcb_design">
							<input class="form-check-input" type="checkbox" name='ecr_category' id="ecr_category_pcb_design" value="4" title="PCB Design" checked="checked" />
							PCB Design
						</label>

						<label class="btn btn-outline-primary" for="ecr_category_software_design">
							<input class="form-check-input" type="checkbox" name='ecr_category' id="ecr_category_software_design" value="8" title="Software Design" />
							Software Design
						</label>

						<label class="btn btn-outline-primary" for="ecr_category_bom">
							<input class="form-check-input" type="checkbox" name='ecr_category' id="ecr_category_bom" value="16" title="BOM" />
							BOM
						</label>

						<label class="btn btn-outline-primary" for="ecr_category_rework">
							<input class="form-check-input" type="checkbox" name='ecr_category' id="ecr_category_rework" value="32" title="Rework" />
							Rework
						</label>
					</div>

<!-- Related to -->
					<div>
						<h6 class="mb0">ECR related to:</h6>
						<div class="row">
							<div class="column"><h5 class="mt-0">0CO-020MSC-0241</h5></div>
							<div class="column"><p class="mt-0 ml3" > - Component description</p></div>
						</div>
					</div>

<!-- Status History-->
					<div>

						<h6 class="mt-0 mb-0" th:inline="text">ECR status change history:</h6>
<!-- Status -->
							<p class="m-0"></p>
<!-- Comments -->
							<p class="m-0"></p>
<!-- Files -->
							<p class="m-0"><a href="#" >File 1</a></p>
					</div>
<!-- New Comment -->
					<div class="row form-group mt-3" > <label for="ecr_comments" class="font-weight-bold"> Comments: </label> <textarea class="form-control" id="ecr_comments" rows="2"> </textarea> </div>
<!-- add File(s) -->
					<div class="row mb-3" id="ecr_upload_row_1'" >

						<div class="input-group">

							<div class="input-group-prepend">
								<select class="input-group-text" id="ecr_upload_category" disabled="disabled">

									<option selected value="">Select</option>
									<option>Category Name</option>
								</select>
							</div>
							<div class="custom-file">

								<input
										type="file"
										class="custom-file-input"
										id="ecr_upload_upload_file_row_1"
										aria-describedby="ecr_upload_category"
										disabled="disabled" />

								<label class="custom-file-label" for="ecr_file_upload" >
									Choose file
								</label>
							</div>
							<div class="input-group-append">
								<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item ecr_add_file_upload" href="#">Add</a>
									<div role="separator" class="dropdown-divider"></div>
									<a class="dropdown-item ecr_remove_file_upload" href="#">Remove</a>
								</div>
							</div>
						</div>
					</div>
<!-- Buttons -->
						<button id="ecr_btn_reject" class="form-control btn btn-outline-warning disabled ecr_btn_reject" disabled="disabled">Reject</button>
						<div class="input-group">
							<div class="input-group-prepend">
								<select id="ecr_forvard_to" class="disabled btn btn-outline-primary" disabled="disabled">
									<option value="">Select</option>
									<option value="1" >Oleksandr Potomkin</option>
								</select>
							</div>
							<button id="ecr_btn_forvard" class="form-control btn btn-outline-primary disabled ecr_btn_forvard" disabled="disabled">Forward</button>
						</div>
						<button id="ecr_btn_to_eco" class="form-control btn btn-outline-success ecr_btn_to_eco">Create ECO</button>
      			</div>
    			</div>
			</div>
		</div>
		<div class="row">
			<button id="ecr_show_more" class="btn btn-outline-secondary btn-block">Show more</button>
		</div>
</div>
	</div>
	<div id="modalLoad"></div>
	<th:block th:replace="home::bootstrap_script">
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://unpkg.com/popper.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</th:block>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js" th:src="@{/webjars/bs-custom-file-input/1.3.2-1/dist/bs-custom-file-input.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		bsCustomFileInput.init();
		$('#engineeringMenu').addClass('active');
		$('#newEcoMenu').addClass('active');

		//Warnibg beafor unloading this page
		function f_beforeunload(e) {
			var confirmationMessage = 'It looks like you have been editing something. If you leave before saving, your changes will be lost.';
			(e || window.event).returnValue = confirmationMessage; //Gecko + IE
			return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
		}
		window.addEventListener("beforeunload", f_beforeunload);

		//Autocomplete '#ecr_part_number'
		function f_autocomplete(request, response){

			var input = request.term.replace(/-/g, "").toUpperCase();
			/*[- */
			partNumbers = autocompletePNs(input); // will be removed from the template.

			response($.map(partNumbers, function(value, key) {
				var pn = partNumberAddDashes(value.partNumber);
				return pn;
			}));//response($.map(
			/* -]*/
			/*[+

			first20PartNumbersContains(input, function(pns){
				partNumbers = pns;
				response($.map(partNumbers, function (value, key) {
			    	var pn = partNumberAddDashes(value.partNumber);
			        return pn;
				}));
			});
			+]*/
		}
		$(".part_number").autocomplete({ source : f_autocomplete });

		var partNumbers;
		function f_onPartNumberChange(input){

		if(partNumbers)	{
			// print description
			var row = $(input).closest('.part_number_row');

			// Description
			var description = row.find('.component_description');
			description.text('Enter the part number of the project this request relates to.');

			// Component ID
			var hiddenComponentId = row.find('.component_id');
			hiddenComponentId.val("");

			var printedValue = input.value.replace(/-/g, "").toUpperCase()
			partNumbers.filter(function(value) {
				if (value.partNumber === printedValue){
					description.text(value.description);
					hiddenComponentId.val(value.id);
				}
			})

			// Disable/Enable 'Add Project' links
			var counter = 0;
			var hiddenFields = row.closest('.card-header').find(".component_id");
			hiddenFields.each(function(){
				if (this.value)
					counter++;
			});
			if(hiddenFields.length==counter)
				row.find('.ecr_add_project').removeClass("disabled");
			else
				row.find('.ecr_add_project').addClass("disabled");

			f_enableButtons(input);
		}}

		//# sourceURL=new-eco-page.js
	</script>
<script src="../../../static/js/eco/ecr.js" th:src="@{/js/eco/ecr.js}" type="text/javascript"></script>
<script src="../../../static/js/eco/ec.js" th:src="@{/js/eco/ec.js}" type="text/javascript"></script>
</body>
</html>