<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

	<!-- Confirm Set Modal -->
	<div id="modalMessage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="costTitleLabel" style="display: block; padding-right: 17px;"  th:fragment="remove_component">
		<div class="modal-dialog" role="document">

    		<!-- Modal content-->
    		<div class="modal-content">
      			<div class="modal-header">
         			<h4 id="costTitleLabel" class="modal-title">Delete Component from the BOM.</h4>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			</div>
 
      			<div class="modal-body">
      				<p th:inline="text">The Component ( ID: [[${component.id}]], part number: [[${component.partNumber}]] ) will be removed from the BOM.</p>
				</div>
 

     			<div class="modal-footer">
						<button id="deleteFromBom" type="submit" class="btn btn-outline-success mr-2">Delete</button>
						<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel" />
     			</div>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			$('#modalMessage').modal('show');
			$('#modalMessage').on('hidden.bs.modal', function(e) { $(this).remove(); });
			$('#deleteFromBom').click(function(){

				var _csrf = $( "input[name='_csrf']" ).val();
				var selectedComponentId = $('#selected_bom_component').val();

				//pcaId from pca_details.html
				$.post('/bom/delete/' + pcaId, {_csrf : _csrf, componentId : selectedComponentId})
				.done(function(response){

					var $buttonClose = $('<button>', {type : 'button', class : 'close', 'data-dismiss' : 'alert', 'aria-label' : 'Close'});
					var $span = $('<span>', {'aria-hidden' : 'true', html : '&times;'});
					

					if(response){
						var $mainDiv = $('<div>', {id : 'alert_message', class : 'alert alert-success alert-dismissible fade show', role : 'alert'});
						var $title = $('<h4>', {class : 'alert-heading', text : 'Well done!'});
						var $content =$('<p>', {text : 'The component '+ [[${'ID:' + component.id + ', part number: ' + component.partNumber}]]   + ' removed from the BOM.'});

						$('#bomDetails')
						.prepend(
								$mainDiv
								.append($title)
								.append($content)
								.append($buttonClose.append($span)));
						$mainDiv.on('closed.bs.alert', function () { location.reload(); });
					}else{
						var $maimDiv = $('<div>', {class : 'alert alert-warning alert-dismissible fade show', role : 'alert'});
						var $title = $('<h4>', {class : 'alert-heading', text : 'Warning.'});
						var $content = $('<p>', {text : 'The component '+ [[${component.partNumber}]]  + ' can not be removed from the BOM.'});

						$('#bomDetails')
						.prepend(
								$maimDiv
								.append($title)
								.append($content)
								.append($buttonClose.append($span)));
					}
					$('#modalMessage').modal('hide');
				})
				.fail(function(error) {
					alert(error.responseText);
					//$('#modalMessage').modal('hide');
					location.reload();
				});
			});
		/*]]>*/
   				//# sourceURL=bom_remove_component.js
		</script>
    		</div>
  		</div>
	</div>

</body>
</html>