<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%n%-5p%n%d [%t] %C{2} %M (%F:%L) - %m%xEx%n" />
		</Console>

	</Appenders>

	<Loggers>
		<logger name="irt.web.ComponentsMovementServlet" 	level="WARN" />
		<logger name="irt.web.PartNumberServlet" 			level="all" />
		<logger name="irt.web.WorkOrderServlet" 			level="WARN" />

		<logger name="irt.data.partnumber.PartNumber"		level="all" />
		<logger name="irt.data.partnumber.PartNumberDetails" level="all" />

		<logger name="irt.data.components.Component" 		level="WARN" />

		<logger name="irt.data.dao.MenuDAO" 				level="WARN" />
		<logger name="irt.data.dao.SecondAndThirdDigitsDAO" level="WARN" />

		<logger name="irt.data.workorder.WorkOrder"			level="WARN" />

		<logger name="static.Component.logger"				level="all" />

		<Root level="WARN">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
