<div>
	<ul class="nav nav-tabs" data-role="tablist">
		<li class="active" data-role="presentation"><a href="#account"
			data-toggle="tab" data-role="tab" data-aria-controls="account">Account</a></li>
		<li data-role="presentation"><a href="#business-page"
			data-toggle="tab" data-role="tab" data-aria-controls="business-page">Business&nbsp;</a></li>
		<li data-role="presentation"><a href="#fpf-ads" data-toggle="tab"
			data-role="tab" data-aria-controls="fpf-ads">Ads in FproF</a></li>
		<li data-role="presentation"><a href="#publication"
			data-toggle="tab" data-role="tab" data-aria-controls="publication">Publication</a></li>
		<li data-role="presentation"><a href="#blogs" data-toggle="tab"
			data-role="tab" data-aria-controls="blogs">Blogs</a></li>
		<li data-role="presentation"><a href="#groups" data-toggle="tab"
			data-role="tab" data-aria-controls="groups">Groups</a></li>
		<li data-role="presentation"><a href="#information"
			data-toggle="tab" data-role="tab" data-aria-controls="publication">Information</a></li>
	</ul>
	<div class="tab-content">
		<!-- Account -->
		<div class="tab-pane fade in active" id="account">
			<h3>Account</h3>
			<div class="row">
				<!-- Account navigation -->
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="accountTabs" data-role="tablist">
						<li class="active" data-role="presentation"><a
							href="#account-anually" data-toggle="tab" data-role="tab"
							data-aria-controls="account-anually">Annually</a></li>
						<li data-role="presentation"><a href="#account-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="account-monthly">Monthly</a></li>
						<li data-role="presentation"><a href="#account-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="account-independently">Independently</a></li>
						<li><div class="col-md-11">
								<!-- Account content-->
								<div class="tab-content" id="accountTabContent">
									<!-- Account anually-->
									<div class="tab-pane fade active in" id="account-anually">
										<div class="col-md-5">
											<div class="row">
												<h3>
													<span style="font-size: 14px;">Long-term contract</span>
												</h3>
												<div class="col-sm-3">Duration:</div>
												<div class="col-sm-3">1 year</div>
												<div class="col-sm-3">2 years</div>
												<div class="col-sm-3">3 years</div>
											</div>
											<div class="row">
												<div class="col-sm-3">one time</div>
												<div class="col-sm-3">$120</div>
												<div class="col-sm-3">$210</div>
												<div class="col-sm-3">$300</div>
											</div>
											<div class="row">
												<div class="col-sm-3">monthly</div>
												<div class="col-sm-3">$12</div>
												<div class="col-sm-3">$11</div>
												<div class="col-sm-3">$10</div>
											</div>
										</div>
										<div class="col-md-7">
											You can put on hold your payment. This contract you can
											cancel only one month before issue. Other conditions apply. <a
												href="/about/contact">Contact us</a> for more details.
										</div>
									</div>
								</div>
							</div></li>
					</ul>
					<div class="col-md-11">
						<div class="tab-content" id="accountTabContent">
							<br>
						</div>
					</div>
				</div>
				<!-- Account monthly-->
				<div class="tab-pane fade" id="account-monthly">
					<div class="col-md-5">
						<div class="row">
							<div class="col-sm-3">Duration</div>
							<div class="col-sm-3">1 month</div>
							<div class="col-sm-3">3 months</div>
							<div class="col-sm-3">6 months</div>
						</div>
						<div class="row">
							<div class="col-sm-3">one time</div>
							<div class="col-sm-3">$12</div>
							<div class="col-sm-3">$21</div>
							<div class="col-sm-3">$30</div>
						</div>
						<div class="row">
							<div class="col-sm-3">monthly</div>
							<div class="col-sm-3">$12</div>
							<div class="col-sm-3">$12</div>
							<div class="col-sm-3">$12</div>
						</div>
					</div>
					<div class="col-md-7">You can cancel at any time. We do not
						refund you the balance if you cancel during the payment period</div>
				</div>
				<!-- Account independently-->
				<div class="tab-pane fade" id="account-independently">
					<div class="row">
						<div class="col-md-3">
							<div class="row">
								<div class="col-sm-6">Duration</div>
								<div class="col-sm-6">1 month</div>
							</div>
							<div class="row">
								<div class="col-sm-6">one time</div>
								<div class="col-sm-6">$30</div>
							</div>
						</div>
						<div class="col-md-9">$/%dused. The monthly payment can
							change at any time.</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="row">
								<div class="col-sm-6">Duration</div>
								<div class="col-sm-6">1 year</div>
							</div>
							<div class="row">
								<div class="col-sm-6">one time</div>
								<div class="col-sm-6">$5</div>
							</div>
						</div>
						<div class="col-md-9">
							Your account will be visible from your agency profile on <a
								href="FashionProFinder.com">FashionProFinder.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Business -->
		<div class="tab-pane fade" id="business-page">
			<div class="row">
				<h3>Business</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="bussinesTabs" data-role="tablist">
						<li class="nav-item active"><a href="#business-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="business-anually">Anually</a></li>
						<li class="nav-item"><a href="#business-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="business-monthly">Monthly</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="businesTabContent">
						<!-- Business anually-->
						<div class="tab-pane fade active in" id="business-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">Wecreate your own business page: the
								price depends on thecomplexity of work. You need send us
								description of what you wantto have in that page. Please click
								here to start.</div>
						</div>
						<!-- Business monthly -->
						<div class="tab-pane fade" id="business-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">3 months</div>
									<div class="col-sm-3">6 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$32</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">Manageyour own page, you can cancel
								at any time.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Ads in FproF -->
		<div class="tab-pane fade" id="fpf-ads">
			<div class="row">
				<h3>Ads in FproF</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="adsTabs" data-role="tablist">
						<li class="nav-item active"><a href="#ads-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="ads-anually">Anually</a></li>
						<li class="nav-item"><a href="#ads-monthly" data-toggle="tab"
							data-role="tab" data-aria-controls="ads-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#ads-daily" data-toggle="tab"
							data-role="tab" data-aria-controls="ads-daily">Daily</a></li>
						<li class="nav-item"><a href="#ads-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="ads-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="adsTabContent">
						<!-- ads anually-->
						<div class="tab-pane fade active in" id="ads-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="ads-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="ads-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="ads-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Visible   Publication for everyone -->
		<div class="tab-pane fade" id="publication">
			<div class="row">
				<h3>Visible Publication for everyone</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="publicationTab"
						data-role="tablist">
						<li class="nav-item active"><a href="#publication-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="publication-anually">Anually</a></li>
						<li class="nav-item"><a href="#publication-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="publication-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#publication-daily"
							data-toggle="tab" data-role="tab"
							data-aria-controls="publication-daily">Daily</a></li>
						<li class="nav-item"><a href="#publication-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="publication-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="publicationTabContent">
						<div class="tab-pane fade active in" id="publication-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="publication-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="publication-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="publication-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Blogs -->
		<div class="tab-pane fade" id="blogs">
			<div class="row">
				<h3>Blogs</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="blogsTab" data-role="tablist">
						<li class="nav-item active"><a href="#blogs-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="blogs-anually">Anually</a></li>
						<li class="nav-item"><a href="#blogs-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="blogs-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#blogs-daily" data-toggle="tab"
							data-role="tab" data-aria-controls="blogs-daily">Daily</a></li>
						<li class="nav-item"><a href="#blogs-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="blogs-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="blogsTabContent">
						<div class="tab-pane fade active in" id="blogs-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="blogs-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="blogs-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="blogs-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Groups -->
		<div class="tab-pane fade" id="groups">
			<div class="row left-tabs">
				<h3>Groups</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="groupsTab" data-role="tablist">
						<li class="nav-item active"><a href="#groups-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="groups-anually">Anually</a></li>
						<li class="nav-item"><a href="#groups-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="groups-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#groups-daily"
							data-toggle="tab" data-role="tab"
							data-aria-controls="groups-daily">Daily</a></li>
						<li class="nav-item"><a href="#groups-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="groups-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="groupsTabContent">
						<div class="tab-pane fade active in" id="groups-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="groups-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="groups-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="groups-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- You can have access to see any information posted by other no paid   members -->
		<div class="tab-pane fade" id="information">
			<div class="row">
				<h3>You can have access to see any information posted by other
					no paid members</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="informationTab"
						data-role="tablist">
						<li class="nav-item active"><a href="#groups-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="information-anually">Anually</a></li>
						<li class="nav-item"><a href="#information-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="information-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#information-daily"
							data-toggle="tab" data-role="tab"
							data-aria-controls="information-daily">Daily</a></li>
						<li class="nav-item"><a href="#information-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="information-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="informationTabContent">
						<div class="tab-pane fade active in" id="information-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="information-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="information-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="information-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<ul class="nav nav-tabs" data-role="tablist">
		<li class="active" data-role="presentation"><a href="#account"
			data-toggle="tab" data-role="tab" data-aria-controls="account">Account</a></li>
		<li data-role="presentation"><a href="#business-page"
			data-toggle="tab" data-role="tab" data-aria-controls="business-page">Business&nbsp;</a></li>
		<li data-role="presentation"><a href="#fpf-ads" data-toggle="tab"
			data-role="tab" data-aria-controls="fpf-ads">Ads in FproF</a></li>
		<li data-role="presentation"><a href="#publication"
			data-toggle="tab" data-role="tab" data-aria-controls="publication">Publication</a></li>
		<li data-role="presentation"><a href="#blogs" data-toggle="tab"
			data-role="tab" data-aria-controls="blogs">Blogs</a></li>
		<li data-role="presentation"><a href="#groups" data-toggle="tab"
			data-role="tab" data-aria-controls="groups">Groups</a></li>
		<li data-role="presentation"><a href="#information"
			data-toggle="tab" data-role="tab" data-aria-controls="publication">Information</a></li>
	</ul>
	<div class="tab-content">
		<!-- Account -->
		<div class="tab-pane fade in active" id="account">
			<h3>Account</h3>
			<div class="row">
				<!-- Account navigation -->
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="accountTabs" data-role="tablist">
						<li class="active" data-role="presentation"><a
							href="#account-anually" data-toggle="tab" data-role="tab"
							data-aria-controls="account-anually">Annually</a></li>
						<li data-role="presentation"><a href="#account-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="account-monthly">Monthly</a></li>
						<li data-role="presentation"><a href="#account-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="account-independently">Independently</a></li>
						<li><div class="col-md-11">
								<!-- Account content-->
								<div class="tab-content" id="accountTabContent">
									<!-- Account anually-->
									<div class="tab-pane fade active in" id="account-anually">
										<div class="col-md-5">
											<div class="row">
												<h3>
													<span style="font-size: 14px;">Long-term contract</span>
												</h3>
												<div class="col-sm-3">Duration:</div>
												<div class="col-sm-3">1 year</div>
												<div class="col-sm-3">2 years</div>
												<div class="col-sm-3">3 years</div>
											</div>
											<div class="row">
												<div class="col-sm-3">one time</div>
												<div class="col-sm-3">$120</div>
												<div class="col-sm-3">$210</div>
												<div class="col-sm-3">$300</div>
											</div>
											<div class="row">
												<div class="col-sm-3">monthly</div>
												<div class="col-sm-3">$12</div>
												<div class="col-sm-3">$11</div>
												<div class="col-sm-3">$10</div>
											</div>
										</div>
										<div class="col-md-7">
											You can put on hold your payment. This contract you can
											cancel only one month before issue. Other conditions apply. <a
												href="/about/contact">Contact us</a> for more details.
										</div>
									</div>
								</div>
							</div></li>
					</ul>
				</div>
				<!-- Account monthly-->
				<div class="tab-pane fade" id="account-monthly">
					<div class="col-md-5">
						<div class="row">
							<div class="col-sm-3">Duration</div>
							<div class="col-sm-3">1 month</div>
							<div class="col-sm-3">3 months</div>
							<div class="col-sm-3">6 months</div>
						</div>
						<div class="row">
							<div class="col-sm-3">one time</div>
							<div class="col-sm-3">$12</div>
							<div class="col-sm-3">$21</div>
							<div class="col-sm-3">$30</div>
						</div>
						<div class="row">
							<div class="col-sm-3">monthly</div>
							<div class="col-sm-3">$12</div>
							<div class="col-sm-3">$12</div>
							<div class="col-sm-3">$12</div>
						</div>
					</div>
					<div class="col-md-7">You can cancel at any time. We do not
						refund you the balance if you cancel during the payment period</div>
				</div>
				<!-- Account independently-->
				<div class="tab-pane fade" id="account-independently">
					<div class="row">
						<div class="col-md-3">
							<div class="row">
								<div class="col-sm-6">Duration</div>
								<div class="col-sm-6">1 month</div>
							</div>
							<div class="row">
								<div class="col-sm-6">one time</div>
								<div class="col-sm-6">$30</div>
							</div>
						</div>
						<div class="col-md-9">$/%dused. The monthly payment can
							change at any time.</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="row">
								<div class="col-sm-6">Duration</div>
								<div class="col-sm-6">1 year</div>
							</div>
							<div class="row">
								<div class="col-sm-6">one time</div>
								<div class="col-sm-6">$5</div>
							</div>
						</div>
						<div class="col-md-9">
							Your account will be visible from your agency profile on <a
								href="FashionProFinder.com">FashionProFinder.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Business -->
		<div class="tab-pane fade" id="business-page">
			<div class="row">
				<h3>Business</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="bussinesTabs" data-role="tablist">
						<li class="nav-item active"><a href="#business-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="business-anually">Anually</a></li>
						<li class="nav-item"><a href="#business-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="business-monthly">Monthly</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="businesTabContent">
						<!-- Business anually-->
						<div class="tab-pane fade active in" id="business-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">Wecreate your own business page: the
								price depends on thecomplexity of work. You need send us
								description of what you wantto have in that page. Please click
								here to start.</div>
						</div>
						<!-- Business monthly -->
						<div class="tab-pane fade" id="business-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">3 months</div>
									<div class="col-sm-3">6 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$32</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">Manageyour own page, you can cancel
								at any time.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Ads in FproF -->
		<div class="tab-pane fade" id="fpf-ads">
			<div class="row">
				<h3>Ads in FproF</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="adsTabs" data-role="tablist">
						<li class="nav-item active"><a href="#ads-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="ads-anually">Anually</a></li>
						<li class="nav-item"><a href="#ads-monthly" data-toggle="tab"
							data-role="tab" data-aria-controls="ads-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#ads-daily" data-toggle="tab"
							data-role="tab" data-aria-controls="ads-daily">Daily</a></li>
						<li class="nav-item"><a href="#ads-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="ads-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="adsTabContent">
						<!-- ads anually-->
						<div class="tab-pane fade active in" id="ads-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="ads-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="ads-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="ads-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Visible   Publication for everyone -->
		<div class="tab-pane fade" id="publication">
			<div class="row">
				<h3>Visible Publication for everyone</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="publicationTab"
						data-role="tablist">
						<li class="nav-item active"><a href="#publication-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="publication-anually">Anually</a></li>
						<li class="nav-item"><a href="#publication-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="publication-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#publication-daily"
							data-toggle="tab" data-role="tab"
							data-aria-controls="publication-daily">Daily</a></li>
						<li class="nav-item"><a href="#publication-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="publication-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="publicationTabContent">
						<div class="tab-pane fade active in" id="publication-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="publication-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="publication-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="publication-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Blogs -->
		<div class="tab-pane fade" id="blogs">
			<div class="row">
				<h3>Blogs</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="blogsTab" data-role="tablist">
						<li class="nav-item active"><a href="#blogs-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="blogs-anually">Anually</a></li>
						<li class="nav-item"><a href="#blogs-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="blogs-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#blogs-daily" data-toggle="tab"
							data-role="tab" data-aria-controls="blogs-daily">Daily</a></li>
						<li class="nav-item"><a href="#blogs-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="blogs-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="blogsTabContent">
						<div class="tab-pane fade active in" id="blogs-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="blogs-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="blogs-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="blogs-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Groups -->
		<div class="tab-pane fade" id="groups">
			<div class="row left-tabs">
				<h3>Groups</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="groupsTab" data-role="tablist">
						<li class="nav-item active"><a href="#groups-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="groups-anually">Anually</a></li>
						<li class="nav-item"><a href="#groups-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="groups-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#groups-daily"
							data-toggle="tab" data-role="tab"
							data-aria-controls="groups-daily">Daily</a></li>
						<li class="nav-item"><a href="#groups-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="groups-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="groupsTabContent">
						<div class="tab-pane fade active in" id="groups-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="groups-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="groups-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="groups-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- You can have access to see any information posted by other no paid   members -->
		<div class="tab-pane fade" id="information">
			<div class="row">
				<h3>You can have access to see any information posted by other
					no paid members</h3>
				<div class="col-md-1 left-tabs">
					<ul class="nav  flex-column" id="informationTab"
						data-role="tablist">
						<li class="nav-item active"><a href="#groups-anually"
							data-toggle="tab" data-role="tab"
							data-aria-controls="information-anually">Anually</a></li>
						<li class="nav-item"><a href="#information-monthly"
							data-toggle="tab" data-role="tab"
							data-aria-controls="information-monthly">Monthly</a></li>
						<li class="nav-item"><a href="#information-daily"
							data-toggle="tab" data-role="tab"
							data-aria-controls="information-daily">Daily</a></li>
						<li class="nav-item"><a href="#information-independently"
							data-toggle="tab" data-role="tab"
							data-aria-controls="information-independently">Independently</a></li>
					</ul>
				</div>
				<div class="col-md-11">
					<div class="tab-content" id="informationTabContent">
						<div class="tab-pane fade active in" id="information-anually">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 year</div>
									<div class="col-sm-3">2 years</div>
									<div class="col-sm-3">3 years</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$120</div>
									<div class="col-sm-3">$210</div>
									<div class="col-sm-3">$300</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$11</div>
									<div class="col-sm-3">$10</div>
								</div>
							</div>
							<div class="col-md-7">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="information-monthly">
							<div class="col-md-5">
								<div class="row">
									<div class="col-sm-3">Duration</div>
									<div class="col-sm-3">1 month</div>
									<div class="col-sm-3">2 months</div>
									<div class="col-sm-3">3 months</div>
								</div>
								<div class="row">
									<div class="col-sm-3">one time</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$21</div>
									<div class="col-sm-3">$30</div>
								</div>
								<div class="row">
									<div class="col-sm-3">monthly</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
									<div class="col-sm-3">$12</div>
								</div>
							</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="information-daily">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
						<div class="tab-pane fade" id="information-independently">
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-1">$20</div>
							<div class="col-md-9">
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>