<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

	<header  th:fragment="header" >
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="http://irttechnologies:8080/irt/" th:text="${#authorization.expression('isAuthenticated()')} ? 
               ${#authentication.name} : 
               'IRT Technologies'"></a>
			<button class="navbar-toggler" aria-expanded="false" aria-controls="navbarCollapse" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarCollapse">
         		 <span class="navbar-toggler-icon"></span>
       		</button>
        	<div id="navbarCollapse" class="collapse navbar-collapse">
          		<ul class="navbar-nav mr-auto"></ul>
<!--/* LOGIN FORM */-->
				<form sec:authorize="isAnonymous()" class="form-inline mt-2 mt-md-0" th:action="@{/login}" method="POST">
					<input name="username" class="form-control mr-sm-2" type="text" placeholder="Username" required="required" autofocus="autofocus" />
					<input name="password" class="form-control mr-sm-2" type="password" placeholder="Password" required="required" />
					<input type="hidden" name="remember-me" value="true" />
					<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Login</button>
				</form>

<!--/* LOGOUT FORM */--><!--/*/
				<form sec:authorize="isAuthenticated()" name="f" class="form-inline mt-2 mt-md-0" th:action="@{/logout}" method="POST">
					<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
				</form> /*/-->
		</div>

	</nav>
	</header>

</body>
</html>