<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<title>Users</title>
<th:block th:include="partnumber :: index_head">
</th:block>
</head>
<body th:with="menuFormAction=${'users'}">
<div class="container-fluid">
<div th:replace="fragments/menu :: menu"></div>
	<div class="panel panel-default">
 		<div class="panel-heading">
    		<h3 class="panel-title">All IRT Users</h3>
  		</div>
  		<div class="panel-body">
		<table class="table table-bordered table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>User name</th>
					<th>password</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Permissions</th>
					<th>Extension</th>
					<th>email</th>
				</tr>
			</thead>
				<tr th:each="user:${users}">
					<td class="id" th:text="${user.id}">ID</td>
					<td class="username" th:text="${user.username}">User name</td>
					<td class="password" th:text="${user.password}">password</td>
					<td class="firstname" th:text="${user.firstname}">First Name</td>
					<td class="lastname" th:text="${user.lastname}">Last Name</td>
					<td class='permissions'>
						<select>
							<option th:each="p:${user.permissions}" th:value="${p}" th:text="${p}"></option>
						</select>
					</td>
					<td class="extension" th:text="${user.extension}">Extension</td>
					<td class="email" th:text="${user.eMail}">email</td>
				</tr>
		</table>
		</div>
		<script sec:authorize="hasRole('USER_EDIT')" type="text/javascript">
			$('tbody tr').on('click',
				function(){
					var tr = $(this);
					$.each($('#perm option'), function(index, option){
						$(option).removeAttr('class');
						var val = $(option).val();
						if(val){
							if(tr.find('select option[value="'+val+'"]').html())
								$(option).addClass('text-success');
							else
								$(option).addClass('text-danger');
						}
					});

				$('#id').val($(this).children('.id').text());
					$('#un').val($(this).children('.username').text());
					$('#up').val($(this).children('.password').text());
					$('#fn').val($(this).children('.firstname').text());
					$('#ln').val($(this).children('.lastname').text());
					$('#ex').val($(this).children('.extension').text());
					$('#em').val($(this).children('.email').text());
					$('#userModal').modal('show');
			});
		</script>
	</div>
</div><!--/*

	Setting Modal Dialog

*/--><div id="userModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bomLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 id="bomLabel" class="modal-title">User</h4>
			</div>
			<div class="modal-body">
				<form action="/management/users" class="form-horizontal">
					<input type="hidden" id="id" name="id"/>
					<div class="form-group form-group-sm">
						<label class="col-sm-3" for="username">Username: </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="un" name="username"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3" for="password">Password: </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="up" name="password"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3" for="firstname">First Name: </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="fn" name="firstname"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3" for="lastname">Last Name: </label>
						<div class="col-sm-9">
							<input  type="text" class="form-control" id="ln" name="lastname"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3" for="permission">Permissions: </label>
						<div class="col-sm-9">
							<select class="form-control" id="perm" name="permission">
								<option value=""/>
								<option th:each="p:${T(irt.web.entities.all.UsersEntity.Permission).values()}" th:value="${p}" th:text="${p}"/>
							</select>
							<script type="text/javascript">
							$('#perm').on('change',
								function(){
									alert('yes');
							});
							</script>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3" for="extension">Extension: </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="ex" name="extension"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3" for="email">Email: </label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="em" name="email"/>
						</div>
					</div>
					<button type="button">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>
<footer th:replace="partnumber :: footer"></footer>
</body>
</html>