<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<title>Users</title>
<th:block th:include="partnumber :: index_head">
</th:block>
</head>
<body th:with="menuFormAction=${'users'}">
<div class="container-fluid">
<div th:replace="fragments/menu :: menu"></div>
	<div class="panel panel-default">
 		<div class="panel-heading">
    		<h3 class="panel-title">All IRT Users</h3>
  		</div>
  		<div class="panel-body">
		<table class="table table-bordered table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>User name</th>
					<th>password</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Permissions</th>
					<th>Extension</th>
					<th>email</th>
				</tr>
			</thead>
				<tr th:each="user:${users}">
					<td class="id" th:text="${user.id}">ID</td>
					<td class="username" th:text="${user.username}">User name</td>
					<td class="password" th:text="${user.password}">password</td>
					<td class="firstname" th:text="${user.firstname}">First Name</td>
					<td class="lastname" th:text="${user.lastname}">Last Name</td>
					<td class="permissions">
							<select class="form-control">
								<option th:each="p:${user.permissions}" th:value="${p}" th:text="${p}"></option>
							</select>
							<th:block sec:authorize="hasRole('USER_EDIT','ADMIN')">
								<button type="button" class="btn form-success btn-xs permissions" th:value="${user.id}">Edit</button>
								<script sec:authorize="hasRole('USER_EDIT')" type="text/javascript" th:inline="javascript">
									$('button.permissions').click(function(){
										$('#userLabel').text('Uset Permissions')
										$('#saveForm').empty();
										$('#saveForm').prop('action', '/management/users/permissions')
										$('#saveForm').append($('<input></input>').prop('type', 'hidden').prop('name','id').val($(this).val()));
										var options =[]; $(this).prev().find('option').each(function(){options.push($(this).val())});
										$.each([[${T(irt.web.entities.all.UsersEntity.Permission).values()}]], function(index, option){
											$('#saveForm')
											.append(
													$('<div />')
													.append(
															$('<label />')
															.append(
																	$('<input />')
																	.prop('type', 'checkbox')
																	.prop('name', option.$name)
																	.prop('checked', $.inArray(option.$name, options)>=0))
													.append(option.$name)));
										});
										$('#saveForm').append($('<button />').prop('type', 'submit').text('Save').addClass('btn btn-primary'));
										$('#userModal').modal('show');
									});
								</script>
							</th:block>
					</td>
					<td class="extension" th:text="${user.extension}">Extension</td>
					<td class="email" th:text="${user.eMail}">email</td>
				</tr>
		</table>
		</div>
	</div>
</div><!--/*

	Setting Modal Dialog

*/--><div id="userModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bomLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 id="userLabel" class="modal-title">User</h4>
			</div>
			<div class="modal-body">
				<form id="saveForm" action="/management/users" class="form-horizontal" method="post">
					<button type="button">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>
<footer th:replace="partnumber :: footer"></footer>
</body>
</html>