<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Menu</title>
<link rel="stylesheet" type="text/css" href="../../static/css/jk.css" th:href="@{/css/jk.css}"></link>
</head>
<body>
	<form class="form-inline" action="/add-part-number" th:fragment="add-part-number">
		<div id="add-pn" class="form-group">
		</div>
		<script type="text/javascript">
			$('#add-pn').load('/load/first-letters',{id:'firstLetter'}, function(){
				$('#firstLetter').on('change', function(){
					var parent = $(this).parent();
					parent.find('*').not('#firstLetter').remove();
					if($(this).val()){
						$.get('/load/secon-and-third-letters',{firstLetter: $(this).val(), id: "secondLetter"}, function(data){
							parent.append(data);
						});
					}
				});
			});
		</script>
	</form>
<!--/*

	****	END OF BODY		****

*/-->
</body>
</html>
