<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
	<title>HTML Components</title>
	<meta charset="UTF-8"/>
</head>
<body>
	<select th:id="${id}" class="form-control" th:classappend="${classNames}" required="required" th:fragment="select">
	<th:block th:fragment="options">
		<option th:text="${title!=null ? '--- ' + title + ' ---' : 'Select'}" value="">Select</option>
		<option th:each="option:${options}" th:value="${option.value}" th:text="${option.text}">Options</option>
	</th:block>
	</select>
</body>
</html>